<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>聊天室</title>
    <style>


        #message {
            margin-top: 20px;
            border: 1px solid gray;
            padding: 20px;
            width: 500px;
            background: #c7edcc
        }
    </style>

</head>
<body style="background: cadetblue">
昵称：
<input type="text" id="nickname"/>
<button onclick="conectWebSocket()">连接WebSocket</button>
<button onclick="closeWebSocket()">断开连接</button>
<br/>
消息：<input id="text" type="text"/><br/>
频道号<input id="toUser" type="text"/><br/>
<button onclick="send()">发送消息</button>

<!-- 存放接收到的消息. -->
<div id="message">

</div>
<script type="text/javascript">

    //连接对象.
    let websocket = null;
    let nickname = null;

    function conectWebSocket() {
        nickname = document.getElementById("nickname").value;
        if (nickname === '') {
            alert("请输入昵称");
            return;
        }
        //判断当前的浏览器是否支持websocket.
        if ("WebSocket" in window) {
            websocket = new WebSocket("ws://localhost:8080/websocket/" + nickname);
        } else {
            alert("Not support websocket");
            return false;
        }

        //连接成功的方法.
        websocket.onopen = function () {
            setMessgeHtml("Loc MSG:连接成功");
        }

        //连接关闭.
        websocket.onclose = function () {
            setMessgeHtml("Loc MSG:连接关闭");
        }

        //连接异常.
        websocket.onerror = function () {
            setMessgeHtml("Loc MSG:连接异常");
        }


        websocket.onmessage = function (event) {
            setMessgeHtml(event.data);
        }

    }


    function setMessgeHtml(msg) {
        let message = document.getElementById("message");
        message.innerHTML += msg + "<br/>";
    }

    //关闭连接
    function closeWebSocket() {
        websocket.close();
    }

    /**
     发送消息.
     */
    function send() {
        let message = document.getElementById("text").value;
        let toUser = document.getElementById("toUser").value;
        let socketMsg = {msg: message, toUser: toUser};
        if (toUser === '') {
            socketMsg.type = 0;//群聊.
        } else {
            socketMsg.type = 1;//单聊.
        }
        websocket.send(JSON.stringify(socketMsg));//将json对象转换为json字符串.
    }

</script>

</body>
</html>